/* Resetear estilos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* Formato del texto */
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    color: #fff;
    /* Fondo */
<<<<<<< HEAD
    background-color: #000088;
}

nav {
    /* Barra de navegación, flexbox */
    display: flex;
    justify-content: end;
    gap: 10px;
    /* Código normal */
    margin: 15px 15px;
=======
    background-color: #1a5e4f;
}

.nav-container{
    display: flex;
    justify-content: flex-end;
    max-width: 700px;
    margin: 0 auto;
}

button{
   padding: 5px 10px;
    border-radius: 5px;
    background-color: blue;
    color: #fff;
}

.h-container p{
    
>>>>>>> b12e8a9c7f3d1568d22d8e2c6ca46a30191f8ee4
}