/* Resetear estilos */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* Formato del texto */
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;
    color: #fff;
    /* Fondo */
    background-color: #000088;
}

header {
    padding: 5px;
    border-bottom: 2px solid #fff;
    background-color: #880000;
}

nav {
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 2px solid #fff;
    background-color: #008800;
}

.nav-container {
    /* Flexbox */
    display: flex;
    justify-content: space-between;
    /* Tamaño y posición */
    max-width: 460px;
    margin: 0 auto;
}

.nav-link {
    text-decoration: none;
    color: #00ffff;
}

.nav-link:hover {
    color: #ffff00;
    transition: color 0.2s;
}

.container {
    max-width: 460px;
    margin: 0 auto;
}

.row {
    display: flex;
}

.disclaimer {
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 5px;
}

.note {
    border: 2px solid #000;
    color: #000;
    background-color: #e7e7e7;
}

.note-h {
    border-bottom: 2px solid #000;
    padding: 2px;
}

.general {
    text-align: left;
    padding: 5px 10px;
}

.curso {
    display: flex;
    margin: 5px 0;
}

#curso {
    margin-left: 5px;
}

.detalle {
    padding: 2px 10px;
}

.disclaimer-note {
    color: #525252;
    font-size: 15px;
}

textarea {
    resize: none;
}